<h2>
    Instances
    <a type="button" class="btn btn-default btn-xs" href="#/instance/new">
        <span class="glyphicon glyphicon-plus"></span>
        New
    </a>
</h2>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Service</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody class="">
        <tr ng-repeat="instance in instances">
            <td>{{instance.id}}</td>
            <td>{{instance.description}}</td>
            <td>{{instance.service_name}}</td>
            <td>
                <a href="#/instance/{{instance.id}}/edit">Edit</a>
                | <a href ng-click="exportInstance(instance.id)">Export</a>
                | <a href ng-click="deleteInstance(instance.id)">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
