<!--

    Structure of instance.config_schema is

        '…'         => ['label' => '…', 'type' => 'url', 'required' => true],
        'endpoints' => ['label' => 'Endpoints', 'type'  => 'array', 'array' => […]]
-->

<div class="form-group" ng-repeat="(opt_name, opt_schema) in instance.config_schema">
    <!--
        Simple case:
            'host' => ['label' => 'Host name', 'type' => 'url', 'required' => true]
    -->
    <div ng-if="opt_name != 'endpoints'"
         class="control-group"
         ng-class="{error: instanceEditForm[opt_name].$invalid && !instanceEditForm[opt_name].$pristine}">
        <label>{{ opt_schema.label}}</label>
        <input type="text"
               ng-model="instance.options[opt_name]"
               class="form-control" />
    </div>

    <!-- 
        Sequence endpoints:
            'endpoints' => [
                'label' => 'Endpoints', 'type'  => 'array', 'array' => [
                    'key'   => ['label' => 'Remote entity', 'type' => 'string'],
                    'value' => [
                        'label'    => 'Method Mapping',
                        'type'     => 'sequence',
                        'sequence' => [
                            'key'   => ['label' => 'HTTP Method', 'type' => 'choices', 'choices' => ['GET', 'POST', 'PUT', 'PATCH', 'DELETE']],
                            'value' => ['label' => 'Endpoint', 'type' => 'string']
                        ]
                    ]
                ]
            ]
    -->
    <div ng-if="opt_name == 'endpoints'"
         class="control-group"
         ng-class="{error: instanceEditForm[opt_name].$invalid && !instanceEditForm[opt_name].$pristine}">
        <label>{{opt_schema.label}}</label>
        <div class="control-group">
            <div class="form-inline" ng-repeat="endpoint in instance.options.endpoints">
                <input type="text" ng-model="instance.options.endpoints[$index][0]" class="form-control" placeholder="Remote entity" ng-blur="endpoint_more()" />
                <select ng-model="instance.options.endpoints[$index][1]" class="form-control" ng-selected="endpoint_more()" ng-options="method for method in ['GET', 'POST', 'PUT', 'PATCH', 'DELETE']">
                    <option value="">HTTP Method</option>
                </select>
                <input type="text" ng-model="instance.options.endpoints[$index][2]" class="form-control" placeholder="Entity URI" ng-blur="endpoint_more()" />
            </div>
        </div>
    </div>
</div>
