<form name="instanceEditForm">
    <div class="form-group">
        <div class="control-group" ng-class="{error: instanceEditForm.description.$invalid && !instanceEditForm.description.$pristine}">
            <label>Description</label>
            <input type="text" name="description" ng-model="instance.description" class="form-control" required />
        </div>
    </div>
    <div class="form-group">
        <div class="control-group" ng-class="{error: instanceEditForm.service_name.$invalid && !instanceEditForm.service_name.$pristine}">
            <label>Service name</label>
            <select name="service_name"
                    class="form-control"
                    required
                    ng-model="instance.service_name">
                <option value="">-- Select a service --</option>
                <option ng-repeat="service in info.services">{{service.name}}</option>
            </select>
        </div>
    </div>

    <config-schema></config-schema>

    <div class="form-group">
        <div class="alert alert-danger" role="alert" ng-if="error.data.error.message | json">
            {{error.data.error.message|json}}
        </div>
    </div>

    <input type="hidden" ng-model="instance.id" />
    <button type="submit" ng-click="save()" class="btn btn-primary">
        {{ instance.id && 'Save' || 'Continue' }}<span ng-if="_instance_saving">…</span>
    </button>
    <button type="button" ng-click="cancel()" class="btn btn-default">Cancel</button>

    <div class="description" ng-if="_instance_saving">
        Sync app will fetch all entity info, it may takes a minute or more.
    </div>
</form>
