<form name="instanceEditForm">
    <div class="form-group">
        <div class="control-group" ng-class="{
                    error: instanceEditForm.description.$invalid && !instanceEditForm.description.$pristine
                }">
            <label>Description</label>
            <input type="text" name="description" 
                   ng-model-options='{ updateOn: "blur" }'
                   ng-model="mapping.description" class="form-control" required />
        </div>
    </div>

    <div class="form-group">
        <input type="checkbox" ng-model="mapping.status" /> <label>Enabled</label>
    </div>

    <div class="form-group">
        <label>Priority</label>
        <div class="form-inline">
            <div class="radio" ng-repeat="item in priorities| orderBy: priority">
                <input
                    type="radio"
                    id="priority-{{item.label}}"
                    ng-model="mapping.priority"
                    value="{{item.priority}}" />
                <label for="priority-{{item.label}}">{{item.label}}</label>&nbsp;&nbsp;
            </div>
        </div>
    </div>

    <div class="form-inline">
        <fieldset>
            <legend>Source</legend>
            <div class="form-group">
                <select class="form-control"
                        ng-model="mapping.source.service_instance.id"
                        ng-change="selectedSourceService('source')"
                        ng-options="instance.id as instance.description for instance in instances">
                    <option value="">-- Service instance --</option>
                </select>
            </div>
            <div class="form-group">
                <select
                    class="form-control"
                    ng-model="mapping.source.entity_type"
                    ng-options="entity_type for entity_type in info.entity_types">
                    <option value="">-- Entity type --</option>
                </select>
            </div>
            <div class="form-group">
                <!-- Select field is good for most of cases. But sometime, entity
                        in source is just a fake entity, in that case, the select
                        with must be a text field to let user to input custom value. -->
                <select class="form-control"
                        ng-model="mapping.source.remote_entity_type"
                        ng-change="selectedSourceRemoteEntityType('source')">
                    <option value="">-- Remote entity type --</option>
                    <option ng-repeat="(machineName, humanName) in _source.entity_info"
                            value="{{machineName}}">{{humanName}}</option>
                </select>
            </div>
        </fieldset>
    </div>

    <fieldset>
        <legend>Destination</legend>
        <div class="form-inline">
            <div class="form-group">
                <select
                    class="form-control"
                    ng-model="mapping.destination.service_instance.id"
                    ng-change="selectedSourceService('destination')"
                    ng-options="instance.id as instance.description for instance in instances">
                    <option value="">-- Service instance --</option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-control"
                        ng-model="mapping.destination.entity_type"
                        ng-options="entity_type for entity_type in info.entity_types">
                    <option value="">-- Entity type --</option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-control"
                        ng-model="mapping.destination.remote_entity_type"
                        ng-change="selectedSourceRemoteEntityType('destination')">
                    <option value="">-- Remote entity type --</option>
                    <option ng-repeat="(machineName, humanName) in _destination.entity_info"
                            value="{{machineName}}">{{humanName}}</option>
                </select>
            </div>
        </div>
        <div>
            <label>Unique fields</label>
            <div class="form-inline" ng-repeat="(i, unique_fields) in mapping.destination.unique_fields">
                <button type="button" class="btn btn-default" ng-click="addDestinationUniqueFields(i)">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>

                <div class="form-group" ng-repeat="(ukey, ufield) in unique_fields">
                    <input type="text"
                           ng-model="unique_fields[ukey]"
                           ng-model-options='{ updateOn: "blur" }'
                           class="form-control" />
                </div>
            </div>
            <span ng-click="addDestinationUniqueFieldsRow()">More row</span>
        </div>
    </fieldset>

    <fieldset>
        <legend>Field Mapping</legend>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Source</th>
                    <th>Destination</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(i, field_mapping) in mapping.mapping">
                    <td>
                        <div class="form-inline" ng-repeat="(ii, source_option) in mapping.mapping[i].source">
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-default" ng-click="addSourceField(i, ii)">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </div>
                            <div class="form-group" ng-repeat="(iii, option) in mapping.mapping[i].source[ii]">
                                <input
                                    class="form-control"
                                    type="text"
                                    placeholder="Field name"
                                    ng-model-options='{ updateOn: "blur" }'
                                    ng-model="mapping.mapping[i].source[ii][iii]" />
                            </div>
                        </div>
                        <span ng-click="addSourceRow(i)">More row</span>
                    </td>
                    <td>
                        <input
                            class="form-control"
                            type="text"
                            placeholder="Destination"
                            ng-model-options='{ updateOn: "blur" }'
                            ng-blur="add_field_mapping()"
                            ng-model="mapping.mapping[i].destination" />
                    </td>
                </tr>

                <tr>
                    <td>
                        <label>Show source field info</label>
                        <select ng-model="__source" class="form-control">
                            <option
                                ng-repeat="(key, info) in _source_fields"
                                value="{{key}}">[{{key}}] {{_source_fields[key].label}}</option>
                        </select>
                        <pre>{{__source}} {{_source_fields[__source]|json}}</pre>
                    </td>
                    <td>
                        <label>Show destination field info</label>
                        <select ng-model="__destination" class="form-control">
                            <option
                                ng-repeat="(key, info) in _destination_fields"
                                value="{{key}}">[{{key}}] {{_destination_fields[key].label}}</option>
                        </select>
                        <pre>{{__destination}} {{_destination_fields[__destination]|json}}</pre>
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>

    <button type="submit" ng-click="save()" class="btn btn-primary">{{ mapping.id && 'Save' || 'Continue' }}</button>
    <button type="button" ng-click="cancel()" class="btn btn-default">Cancel</button>

    <div class="form-group">
        <div class="alert alert-danger" role="alert" ng-if="error.data.error.message | json">
            {{error.data.error.message|json}}
        </div>
    </div>
</form>
