<h2>
    Mappings
    <a type="button" class="btn btn-default btn-xs" href="#/mapping/new">
        <span class="glyphicon glyphicon-plus"></span>
        New
    </a>
</h2>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Status</th>
            <th>Direction</th>
            <th>Description</th>
            <th>Queue</th>
            <th>Last fetching</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tr ng-repeat="mapping in mappings">
        <td><a href="#/mapping/{{mapping.id}}/view">{{mapping.id}}</a></td>
        <td>
            <span class="glyphicon glyphicon-{{mapping.status && 'ok'|| 'remove'}}"></span>
        </td>
        <td>
            <a href="#/instance/{{mapping.source.instance.id}}/edit">
                {{mapping.source.instance.description}}
            </a>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <a href="#/instance/{{mapping.destination.instance.id}}/edit">{{mapping.destination.instance.description}}</a>
        </td>
        <td>
            {{mapping.description}}

            <h5>Source</h5>
            <ul>
                <li>Service: {{mapping.source.service}}</li>
                <li>Entity type: {{mapping.source.entity_type}}</li>
                <li>Remote entity type: {{mapping.source.remote_entity_type}}</li>
            </ul>
            
            <h5>Destination</h5>
            <ul>
                <li>Service: {{mapping.destination.service}}</li>
                <li>Entity type: {{mapping.destination.entity_type}}</li>
                <li>Remote entity type: {{mapping.destination.remote_entity_type}}</li>
            </ul>
        </td>
        <td>
            <a href="#/mapping/{{mapping.id}}/queue">
                {{mapping.queued_jobs}} job<span ng-if="mapping.queued_jobs > 1">s</span>
            </a>
        </td>
        <td>
            {{mapping.run_at.date}}
        </td>
        <td>
            <a href="#/mapping/{{mapping.id}}/edit">Edit</a>
            | <a href ng-click="exportmapping(mapping.id)">Export</a>
            | <a href ng-click="deleteMapping(mapping.id)">Delete</a>
        </td>
    </tr>
</table>
