<ol class="breadcrumb">
    <li>
        <a href="#/mapping/">Mappings</a>
    </li>
    <li>
        <a href="#/mapping/{{mapping.id}}/edit">{{mapping.description}}</a>
    </li>
</ol>

<h2>
    Queue Jobs
    <a type="button" class="btn btn-default btn-sm" href ng-click="fetchSourceEntities()">
        <span class="glyphicon glyphicon-cloud-download"></span>
        Fetch<span ng-if="_fetching">ing…</span>
    </a>
</h2>

<div ng-if="_fetch_status" class="alert alert-warning" role="alert">
    <button type="button" class="close" data-dismiss="alert" ng-click="hideSourceEntitiesStatus()">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
    </button>

    {{_fetch_status}}
</div>

<div class="container">
    <div class="row">
        <div ng-attr-class="{{ _job && 'col-lg-5' || 'col-lg-12'}}">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>State</th>
                        <th>Priority</th>
                        <th>Execute after</th>
                        <th></th>
                    </tr>
                </thead>
                <tr ng-repeat="job in jobs">
                    <td>{{job.id}}</td>
                    <td>
                        <span ng-attr-class="{{job.state == 'failed' && 'label label-danger'|| 'label label-info'}}">
                            {{job.state}}
                        </span>
                    </td>
                    <td>
                        <span ng-if="job.priority == -5">Low</span>
                        <span ng-if="job.priority == 0">Normal</span>
                        <span ng-if="job.priority == 5">High</span>
                    </td>
                    <td>{{job.executeAfter.date}} {{job.executeAfter.timezone}}</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm" ng-click="jobLoad(job.id)">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                Details
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="col-lg-7" ng-if="_job">
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm" ng-click="jobExecute(_job.id)">
                    <span class="glyphicon glyphicon-play"></span>
                    Execute<span ng-if="_job_executing">…</span>
                </button>
                <button type="button" class="btn btn-default btn-sm" ng-click="jobDelete(_job.id)">
                    <span class="glyphicon glyphicon-remove"></span>
                    Delete
                </button>
            </div>

            <table class="table table-striped table-hover">
                <thead><tr><th>Option</th><th>Value</th></tr></thead>
                <tr><td>ID</td><td>{{_job.id}}</td></tr>
                <tr><td>maxRetries</td><td>{{_job.maxRetries}}</td></tr>
                <tr><td>maxRuntime</td><td>{{_job.maxRuntime}}</td></tr>
                <tr><td>createdAt</td><td>{{_job.createdAt.date}}</td></tr>
                <tr><td>closedAt</td><td>{{_job.closedAt.date}}</td></tr>
                <tr ng-if="_job.output">
                    <td><span class="label label-info">Output</span></td>
                    <td>
                        <table class="table">
                            <tr ng-repeat="(output_key, output_value) in _job.output">
                                <td>{{output_key}}</td>
                                <td>{{output_value}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr ng-if="_job.errorOutput"><td><span class="label label-danger">Error</span></td><td>{{_job.errorOutput}}</td></tr>
                <tr>
                    <td>args</td>
                    <td>
                        <table class="table">
                            <tr><td>Action</td><td>{{_job.args.action}}</td></tr>
                            <tr>
                                <td>Source Entity</td>
                                <td>
                                    <table class="table">
                                        <thead><tr><th>Name</th><th>Value</th></tr></thead>
                                        <tr ng-repeat="(attr_name, attr_value) in _job.args.attributes" ng-if="attr_value">
                                            <td>{{attr_name}}</td><td>{{attr_value|json}}</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <pagination
            ng-change="loadJobs()"
            total-items="pageTotalItems"
            ng-model="pageCurrent"
            max-size="pageMax"
            class="pagination-sm"
            boundary-links="true"
            rotate="false"
            num-pages="numPages"></pagination>
    </div>
</div>
